.buildpath
.settings/
.project
.idea/

assets/uploads/assets/images

/assets/uploads/


application/.htaccess
assets/uploads/assets/images
index.php
license.txt
/assets/uploads/

assets/uploads/assets/images
/assets/uploads/

/sql

