/*Elementos de estilo pagina del blog*/

h1,h2,h3,h4,h5{
	position: relative;
}

img {
	-webkit-user-select: none;
	display: block;
	margin:auto;
}

span {
	font: bold 90% monospace;
}

.main-content {
	display: block;
    margin: 0px 15px;
    zoom: 0.8;
}

.post_title{
	font: normal normal 25px Josefin Sans;
	margin: .75em 0 0;
}

.imagen_post{
	clear: both;
    text-align: center;
}

img.Image{
	 max-width: 40%;
	 max-height: 40%;
	 border-radius:2%;
}
